body {
    background: #f2f2f2;
    font-family: sans-serif;
    direction: rtl;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card {
    width: 250px;
    height: 280px;
    background: white;
    margin: 60px auto;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.circle {
    width: 70px;
    height: 70px;
    background: #ff0000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

.text-box {
    margin-top: 60px;
}

h1 {
    margin: 10px 0;
}

p {
    margin: 5px 0;
}

.btnBox {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}